Q&A/n8n.json
{
  "name": "RAG API to Google Sheets",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ask",
        "options": {},
        "responseMode": "lastNode",
        "jsonParameters": true,
        "bodyParametersJson": "{\n  \"question\": \"{{$json[\"question\"]}}\"\n}"
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://127.0.0.1:8000/ask",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\n  \"question\": \"{{$json[\"question\"]}}\"\n}"
      },
      "name": "HTTP Request to RAG API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "1uKRLQ3E5wPpRox-ooxoTYWEpr2y-1MVkPnZE_t3Tlic/edit?usp=drivesdk",
        "range": "Sheet1",
        "options": {},
        "valueInputMode": "RAW",
        "values": [
          [
            "={{$json[\"question\"]}}",
            "={{$json[\"context\"]}}",
            "={{$json[\"answer\"]}}"
          ]
        ]
      },
      "name": "Google Sheets Append",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request to RAG API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request to RAG API": {
      "main": [
        [
          {
            "node": "Google Sheets Append",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
